.rouge
{
    background-color: red;
    height: 100px;
}
.bleu
{
    background-color: blue;
    height: 100px;
}
.yellow
{
    background-color: yellow;
    height: 100px;
}
.green
{
    background-color: green;
    height: 100px;
}